name: node.js CI
on: [push]

jobs: #<-- start the jobs encapsulation
  build: #<--start the build job encapsulation
    runs-on: ubuntu-latest
    steps: # <-- start of steps encapsulation with 'build' job
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 14
      - name: Run install
        run: npm install
      - name: Install dependencies
        run: npm ci
      - name: build
        run: npm run build
    #<-- end of steps encapsulation within 'build' job
  #<--end of 'build' job encapulation
  test: #<--start of 'test' job encapsulation
    needs: build
    runs-on: ubuntu-latest
    steps: #<-- start of steps encpsulation within 'test' job
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 14
      - name: Run install
        run: npm install
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
     #<--end of steps encapsulation within 'test' job
    #<end of 'test' job encapsulation
#end of job encpsulation

